# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Kaggle credentials
kaggle.json

# Large model files
*.h5

# VS Code
.vscode/

# Dataset temporary files
temp/
